
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_d87wsjpqn1p2e29.eot?t=1497606568172'); /* IE9*/
  src: url('//at.alicdn.com/t/font_d87wsjpqn1p2e29.eot?t=1497606568172#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_d87wsjpqn1p2e29.woff?t=1497606568172') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_d87wsjpqn1p2e29.ttf?t=1497606568172') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_d87wsjpqn1p2e29.svg?t=1497606568172#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before { content: "\e638"; }

.icon-close:before { content: "\e603"; }

.icon-xingzhe:before { content: "\e604"; }

.icon-xing:before { content: "\e605"; }

.icon-search:before { content: "\e606"; }

.icon-edit:before { content: "\e622"; }

.icon-navbar:before { content: "\e657"; }

.icon-play:before { content: "\e615"; }

.icon-news:before { content: "\e60f"; }

.icon-paused:before { content: "\e616"; }

.icon-account:before { content: "\e601"; }

.icon-bang:before { content: "\e602"; }

.icon-download:before { content: "\e60b"; }

.icon-help:before { content: "\e60e"; }

.icon-lushu:before { content: "\e610"; }

.icon-reply:before { content: "\e6e0"; }

.icon-faq:before { content: "\e6ad"; }

.icon-baoxian:before { content: "\e69a"; }

.icon-contact:before { content: "\e646"; }

.icon-champion:before { content: "\e62d"; }

.icon-aguiji:before { content: "\e6ed"; }

.icon-readed:before { content: "\e95b"; }
